.loginForm {
    width: 400px;
    margin: 0 auto; 
    font-weight: bold;
}

.submit-button {
    background-color: #4CAF50;
    border-radius: 25px;
    width: 100%;
    border: 0px;
}

.submit-button:hover, .submit-button:focus {
    background: #45a049;
}

.card-form {
    border-radius: 25px;
    /* background: #4CAF50; */
    padding: 20px;
    /* width: 350px; */
}

.input {
    text-align: left;
}

.form-label {
    display:block; text-align:left;
}

.terms {
    font-size: small;
}

.oauth {
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255); display: inline-flex; align-items: center; color: rgba(0, 0, 0, 0.54); box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px; padding: 0px; border-radius: 2px; border: 1px solid transparent; font-size: 14px; font-weight: 500; font-family: Roboto, sans-serif;
    /* height: 41px; */
}

i {
    padding: 15px;
    margin-right: 10px;
    color: white;
}

.facebook-icon, .facebook-icon:hover {
    background-color: #4267B2;
    color: white;
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}