/* .input {
    width: 30%;
} */

/* form {
    margin-left: 40%;
    margin-top: 15%;
}

.submit-button {
    width: 30%;
    margin-top: 1%;
} */

.signUpForm {
    width: 400px;
    margin: 0 auto; 
    font-weight: bold;
}

.submit-button {
    background-color: #4CAF50;
    border-radius: 25px;
    width: 100%;
    border: 0px;
}

.submit-button:hover, .submit-button:focus {
    background: #45a049;
}

.card-form {
    border-radius: 25px;
    /* background: #4CAF50; */
    /* padding: 20px; */
    display:inline-block;
    margin-bottom: 10px !important;
    /* margin-bottom: 0px; */
}

.input {
    text-align: left;
}

.form-label {
    display:block; width:x; height:y; text-align:left;
}

.signup-terms {
    font-size: small;
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}

.signUpEmail {
    width: 100%;
}

.pwd-container {
    position: relative;
}
  
/* .pwd-container input {
    padding: 5px 30px 5px 10px;
    font-size: 20px;
} */
  
.pwd-container img {
    cursor: pointer;
    position: absolute;
    width: 20px;
    right: 10px;
    bottom: 8px;
}

.infoSpan {
    color: red;
}