.logo {
    padding: 0px;
    /* margin-top: -30px;
    margin-bottom: -30px; */
    padding-left: 10px;
    margin: auto;
    /* Width and Height are built in to the <img> tag. So to change the dimentions of the logo go to the <img> tag in the Header.js file. */
    /* width: "60px";
    height: "60px"; */
}

.mobile_nav {
    margin-right: 10px;
}

.navbar {
    /* color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    align-items: center; */
    
    /* display: flex;
    align-items: center;
    margin-right: -24px; */
}